/* Pantalla menor de 960px */
@media (max-width:960px) {

    /* Genéricos */
    h1 {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -2.5px;
    }

    h2 {
        font-size: 30px;
        letter-spacing: -2px;
        line-height: 35px;
    }

    h3 {
        font-size: 23.26px;
        letter-spacing: -.5px;
    }



    /* Particulares */

    .portada {
        width: 100%;
        padding: 0rem;
        background-color: transparent;
    }

    #portada-inicial {
        background-position: right;
        background-size: cover;
        align-items: end;
    }

    .contenedor-divisor {
        width: 90%;
    }

    .hijo-divisor {
        flex-direction: column;
    }

    #porque-elegirnos {
        height: 100vh;
        align-content: end;
        background-position: center;
        background-size: cover;
    }

    .elegirnos {
        align-items: end;
        width: 100%;
        padding: 0rem;
    }

    .atributos {
        width: 100%;
    }

    .atributos h4 {
        font-weight: 200;
    }

    .servicios {
        gap: .5rem;
    }

    .servicios > div {
        min-width: 90%;
    }

    .servicios-aclaracion {
        width: 100%;
    }

    .como-trabajamos img {
        border-radius: 0px 0px 80px 80px;
    }



    .texto-como-trabajamos > div:first-of-type {
        gap: .5rem;
        flex-direction: column;
    }

    .texto-como-trabajamos h4 {
        font-weight: 400;
    }



    #formulario > div {
        padding: 0rem 2rem;
        width: 100%;
    }


    footer p {
        text-align: center;
    }
}


/* Pantalla menor de 600px */
@media (max-width: 600px) {
    .title {
        font-size: 1.6rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}